@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Italiana&display=swap");
.sec5, .sec4, .header2, .header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.t10, .tiktok, .co, .som > p, .foodcart2 > p, .flla, .brn2, .btn2, .btn, .wiki, .el {
  transition: all 0.5s ease-in-out;
}

.header {
  background-image: url(/images/photo_2022-06-05_13-14-26\ 1.png);
  height: 1154px;
}

.gradient3 {
  background-image: linear-gradient(129.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 77.17%);
  width: 100%;
  height: 1154px;
}

.header2 {
  background-image: linear-gradient(to top, rgb(18, 18, 18), #272727);
  opacity: 80%;
  height: 74px;
  position: fixed;
}

.menu {
  margin-left: 100px;
  gap: 40px;
}

.el:hover {
  font-size: 36px;
  transition: font-size ease-in-out 0.5s;
  will-change: auto;
  color: #C59A6D;
}

.el {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 200;
  line-height: 29.05px;
  text-align: left;
  color: #FFFFFF;
}

.sec1-text h1 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 200;
  color: #FFFFFF;
}

.wiki {
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: #FFFFFF;
  margin-top: 15px;
}

.wiki:hover {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #C59A6D;
  transition: font-size ease-in-out 0.5s;
  will-change: auto;
}

.sec1-wrap {
  margin-left: 122px;
  margin-top: 125px;
  align-items: center;
}

.button {
  margin-left: 135px;
  margin-top: 65px;
  background-color: #B47B48;
  border-radius: 25px;
  width: 207px;
  height: 35px;
  padding: 22px 52px 25px 42px;
  text-align: center;
}

.sec1-text {
  padding: 5px 15px 5px 15px;
  background-image: linear-gradient(to top, rgb(18, 18, 18), #202023);
  background-color: #202023;
  border-radius: 20px;
  width: 600px;
  height: 450px;
  border: solid #FFFFFF;
}

.btn:hover {
  font-size: 34px;
  transition: font-size ease-in-out 0.5s;
  will-change: auto;
}

.btn2:hover {
  font-size: 24px;
  transition: font-size ease-in-out 0.5s;
  will-change: auto;
}

.brn2:hover {
  font-size: 34px;
  transition: font-size ease-in-out 0.5s;
  will-change: auto;
}

.btn {
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.flag {
  margin-top: 40px;
  width: 400px;
  height: 225px;
  background-image: linear-gradient(to right, rgb(18, 18, 18), #272727);
}

.cookie {
  align-self: right;
}

.btn2 {
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 900;
  line-height: 19.36px;
  padding: 10px 20px 10px 20px;
}

.textcoockie {
  margin-top: 5px;
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 200;
  line-height: 29.05px;
  text-align: left;
  color: #FFFFFF;
}

.t8 {
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: center;
  text-align: left;
  color: #FFFFFF;
}

.button3 {
  margin-top: 20px;
  width: 79px;
  height: 24px;
  background-color: #C85312;
  text-align: center;
  padding: 2px 3px 3px 2px;
  margin-left: 5px;
}

.me2 {
  gap: 230px;
  margin-left: 350px;
}

.el400 {
  margin-left: 10px;
}

.flag2 {
  margin-top: 50px;
  width: 370px;
  height: 225px;
  background-image: linear-gradient(to right, #ac8216, #ebac0f);
}

.card-set {
  width: 1350px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.sec5, .sec4, .header, .header2 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.t10, .tiktok, .co, .som > p, .foodcart2 > p, .flla, .brn2, .el, .wiki, .btn, .btn2 {
  transition: all 0.5s ease-in-out;
}

.sec3 {
  background-image: linear-gradient(to top, rgb(18, 18, 18), #202023);
  justify-content: space-between;
  background: #202023;
  width: 100%;
  height: 875px;
}

.sec3-wrap {
  margin-left: 625px;
}

.card {
  flex-wrap: wrap;
}

.p1 {
  margin-bottom: 1px;
}

.card > img {
  outline: solid #FFFFFF;
  outline-width: 1px;
  width: 328px;
  height: 229px;
}

.button4 {
  margin-left: 75px;
  background-color: #B47B48;
  border-radius: 15px;
  width: 160px;
  height: 35px;
  padding: 7px 12px 7px 12px;
  text-align: center;
}

.brn2 {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 25.92px;
  font-weight: 800;
  line-height: 31.37px;
}

.me1 {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 100;
  line-height: 77.45px;
  color: #FFFFFF;
  margin-left: 570px;
}

.right {
  margin-right: 250px;
}

.left {
  margin-left: 250px;
}

.me3 {
  font-family: "Italiana", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 77.45px;
  color: #FFFFFF;
  margin-left: 1570px;
}

.ulr {
  margin-top: 125px;
  position: absolute;
}

.card-set2 {
  margin-left: 700px;
  display: flex;
  flex-wrap: wrap;
}

.flla {
  margin-left: 20px;
  background: rgba(66, 62, 62, 0.862745098);
  width: 300px;
  height: 200px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2509803922);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  text-align: center;
  padding: 3px 5px 5px 3px;
  color: #FFFFFF;
}

.sec5, .sec4, .header, .header2 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.t10, .tiktok, .co, .som > p, .foodcart2 > p, .el, .wiki, .btn, .btn2, .brn2, .flla {
  transition: all 0.5s ease-in-out;
}

.t9 > p {
  transition: all 0.5s ease-in-out;
}

.down {
  margin-top: 50px;
  margin-left: 120px;
}

.down2 {
  margin-top: 100px;
  margin-left: 120px;
}

.sec4 {
  background-image: url(/images/1000_F_441326907_2k2s2LVTYfNXJx0GjbI9t8SKrdVMyirR.jpg);
  height: 875px;
}

.sec5 {
  padding-top: 1px;
  background-image: url(/images/photo_2022-06-23_21-45-36\ 1.jpg);
  height: 580px;
}

.gradient {
  padding-top: 2px;
  background-image: linear-gradient(129.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 77.17%);
  width: 100%;
  height: 580px;
}

.sec5-wrap {
  margin-bottom: 0px;
}

.why {
  font-family: "Italiana", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 77.45px;
  color: #FFFFFF;
  padding-top: 50px;
  padding-left: 75px;
}

.foodcart {
  margin-left: 520px;
}

.r1 {
  margin-left: 250px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  color: white;
}

.foodcart2 {
  margin-left: 535px;
}

.r2 {
  margin-left: 335px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  color: white;
}

.sec6 {
  background-image: linear-gradient(to center, rgb(18, 18, 18), #202023);
  height: 705px;
}

.where {
  font-family: "Italiana", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 77.45px;
  color: #FFFFFF;
  margin-top: 50px;
  margin-left: 175px;
}

.som {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  color: #FFFFFF;
  margin-top: 50px;
  margin-left: 175px;
}

.wh {
  margin-left: 500px;
  margin-bottom: 120px;
}

.vechir {
  margin-left: 38px;
}

.som1 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 50px;
  color: #FFFFFF;
  margin-top: 50px;
  margin-left: 175px;
}

.som10 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 50px;
  color: #FFFFFF;
  margin-top: 50px;
  margin-left: 175px;
}

.sec7 {
  background-image: linear-gradient(to top, rgb(18, 18, 18), #202023);
  width: 100%;
  height: 440px;
}

.t9 {
  margin-left: 300px;
}

.som1 p:hover {
  font-size: 34px;
  transition: font-size ease-in-out 0.2s;
  will-change: auto;
  cursor: pointer;
}

.r4 {
  margin-left: 230px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  color: white;
}

.r5 {
  margin-left: 350px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  color: white;
}

.r6 {
  margin-left: 275px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  color: white;
}

.flla:hover {
  font-size: 28px;
  transition: font-size ease-in-out 0.5s;
  will-change: auto;
  cursor: pointer;
}

.foodcart2 p:hover {
  font-size: 29px;
  transition: font-size ease-in-out 0.5s;
  will-change: auto;
  cursor: pointer;
}

.t10:hover {
  font-size: 34px;
  transition: font-size ease-in-out 0.5s;
  will-change: auto;
  cursor: pointer;
  color: cadetblue;
}

.tiktok:hover {
  font-size: 34px;
  transition: font-size ease-in-out 0.5s;
  will-change: auto;
  cursor: pointer;
  color: powderblue;
}

.co:hover {
  scale: 115%;
  transition: scale ease-in-out 0.5s;
  will-change: auto;
  cursor: pointer;
}

.gradient2 {
  background-image: linear-gradient(129.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 77.17%);
  width: 100%;
  height: 875px;
}

.t9:hover {
  color: #C59A6D;
  cursor: pointer;
}

.header, .header2, .sec4, .sec5 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.el, .wiki, .btn, .btn2, .brn2, .flla, .foodcart2 > p, .som > p, .co, .tiktok, .t10 {
  transition: all 0.5s ease-in-out;
}

body {
  background: #202023;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}
