%background{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
%transition{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;     
}
$primary: #C59A6D;
$second:#FFFFFF;
.t9 > p{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; 
}
.down{
    margin-top: 50px;
    margin-left: 120px;
}
.down2{
    margin-top: 100px;
    margin-left: 120px;
}
.sec4{
    background-image: url(/images/1000_F_441326907_2k2s2LVTYfNXJx0GjbI9t8SKrdVMyirR.jpg);
    @extend %background;
 height: 875px;
}
.sec5{
    padding-top: 1px;
    background-image: url(/images/photo_2022-06-23_21-45-36\ 1.jpg);
    height: 580px;
    @extend %background;
}
.gradient{
    padding-top: 2px;
    background-image:linear-gradient(129.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 77.17%) ;
 width: 100%;
 height: 580px; 
}
.sec5-wrap{
    margin-bottom: 0px;
}
.why{
    font-family: "Italiana" , sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 77.45px;
    color: #FFFFFF;
    padding-top: 50px;
    padding-left: 75px;
}
.foodcart{
    margin-left: 520px;
}
.r1{
    margin-left: 250px;
    font-family: "Inter" , sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
color: white;
}
.foodcart2{
    margin-left: 535px;
}
.foodcart2 > p{
@extend %transition;
}
.r2{
    margin-left: 335px;
    font-family: "Inter" , sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
color: white;
}
.sec6{
    background-image:linear-gradient(to center,rgb(18, 18, 18),#202023);
    height: 705px;
}
.where{
    font-family: "Italiana" , sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 77.45px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 175px;
}
.som{ 
    font-family: "Inter" , sans-serif;  
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 175px;
}
.wh{
    margin-left: 500px;
    margin-bottom: 120px;
}
.vechir{
    margin-left:38px;
}
.som1{ 
    font-family: "Inter" , sans-serif;  
    font-weight: 200;
    font-size: 24px;
    line-height: 50px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 175px;
}
.som10{ 
    font-family: "Inter" , sans-serif;  
    font-weight: 200;
    font-size: 24px;
    line-height: 50px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 175px;
}
.som > p{
    @extend %transition;
}
.sec7{
    background-image:linear-gradient(to top,rgb(18, 18, 18),#202023);
    width: 100%;
    height: 440px;
}
.t9{
    margin-left: 300px;
}
.som1 p:hover{
    font-size: 34px;
    transition: font-size ease-in-out .2s;
    will-change: auto; 
    cursor: pointer; 
} 
.r4{
    margin-left: 230px;
    font-family: "Inter" , sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
color: white;
}
.r5{
    margin-left: 350px;
    font-family: "Inter" , sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
color: white;
}
.r6{
    margin-left: 275px;
    font-family: "Inter" , sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29.05px;
color: white;
}
.flla:hover{
    font-size:28px;
    transition: font-size ease-in-out .5s;
    will-change: auto;
    cursor: pointer;    
}
.foodcart2 p:hover{
    font-size: 29px;
    transition: font-size ease-in-out .5s;
    will-change: auto;
    cursor: pointer;  
}
.t10:hover{
    font-size: 34px;
    transition: font-size ease-in-out .5s;
    will-change: auto;
    cursor: pointer;
    color: cadetblue;    
}
.tiktok:hover{
    font-size: 34px;
    transition: font-size ease-in-out .5s;
    will-change: auto;
    cursor: pointer;
    color:powderblue;     
}
.co:hover{
    scale: 115%;
    transition: scale ease-in-out .5s;
    will-change: auto; 
    cursor: pointer; 
}
.gradient2{
    background-image:linear-gradient(129.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 77.17%) ;
 width: 100%;
 height: 875px;
}
.co{
    @extend %transition;
}
.tiktok{
    @extend %transition;
}
.t10{
    @extend %transition;
}
.t9:hover{
    color: $primary;
    cursor: pointer;  
}
